.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: linear-gradient(45deg, #ff7e5f, #feb47b);
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: color 0.3s;
  }
  
  .navbar a:hover {
    color: #333;
  }
  .navbar h2{
    color: white;
  }